.heading {
  text-align: center;
  margin: 5%;
  text-transform: uppercase;
}
.company-list {
  padding: 2rem;
}

.nav {
  background-color: #fafafa;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 4rem;
}
.nav a {
  display: inline-block;
  margin: 0 3rem;
  font-size: 2rem;
  color: #2980b9;
  opacity: 0.7;
  transition: 0.25s;
}
.nav a:hover {
  opacity: 1;
}
.container_nav {
  margin: 0 auto;
}

@media only screen and (max-width: 760px) {
  /* For mobile phones: */
  .nav a {
    font-size: 1.2rem;
  }
  .nav {
    padding: 0.5rem;
  }
}
