.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
  background: #00b4db; /* fallback for old browsers */
  transition: all 0.4s ease-in-out;
  z-index: 99;
}

.footer-toggle {
  display: flex;
  justify-content: space-evenly;
  width: fit-content;
  position: relative;
}
.link {
  color: white;
  font-size: larger;
  text-decoration: none;
  font-weight: 700;
}
footer .link:hover {
  color: black;
}
