.heading {
  text-align: center;
  margin: 5%;
  text-transform: uppercase;
}

/*** STYLE ***/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  /* background: #2980b9; */
  /* background: linear-gradient(to right, #2980b9, #2c3e50); */
  font-family: "Montserrat", sans-serif;
}
